In [39]:
#Printing the first code
print("Hello World!")

Hello World!

In [40]:
#Printing the first code
print("Hey Yasir!")

Hey Yasir!

In [28]:
#Adding 3+2
print(3 + 2)

5

In [29]:
#Substracting 10-4
print(10 - 4)

6

In [30]:
#Multiplying 6*7
print(6 * 7)

42

In [32]:
#Dividing 56/7
print(56 / 7)

8.0

In [33]:
#Dividing 80/5
print(80 / 5)

16.0

In [34]:
#Square of 2
print(2 ** 2)

4

In [35]:
#Qube of 2
print(2 ** 3)

8

In [36]:
#Square of 5
print(5 ** 2)

25

In [37]:
#Qube of 2
print(5 ** 3)

125

In [38]:
#5 raised to the 4th power
print(5 ** 4)

625

In [13]:
#Variables

In [14]:
first_variable = 4
print(first_variable)

4

In [15]:
first_variable = 5
print(first_variable)

5

In [16]:
second_variable = 3
print(second_variable)

3

In [17]:
second_variable = 7
print(second_variable)

7

In [18]:
third_variable = 7+2
print(third_variable)

9

In [19]:
fourth_variable = 10
print(fourth_variable)

10

In [20]:
fourth_variable = fourth_variable + 5
print(fourth_variable)

15

In [21]:
days_per_year = 365
print(days_per_year)

365

In [6]:
#Creating Variables for calculating number of seconds in 4 years
number_of_years = 4
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

In [7]:
#Calculating number of seconds in 4 years
number_of_seconds_in_4_years = number_of_years * days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

In [8]:
#Printing the Answer
print(number_of_seconds_in_4_years)

126144000

In [9]:
print(hours_per_day)

24

In [10]:
#Update to leap year
days_per_year = 365.25

In [11]:
#Calculating number of seconds in 4 years
number_of_seconds_in_4_years = number_of_years * days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

In [12]:
#Printing the Answer
print(number_of_seconds_in_4_years)

126230400.0

In [13]:
print(minutes_per_hour)

60

In [3]:
def add_three(inputvar):
    outputvar = inputvar + 3
    return outputvar

In [4]:
new_number = add_three(10)
print(new_number)

13